@{
    ViewData["Title"] = "Home Page";
}





    <div class="bgimg" style="color:aliceblue; height: 100px; text-align: center">
        <h1>Khách Sạn VipLuxury</h1>

        HotLine Đặt phòng:0935222820 (Mr.Huy)
        <br />
        <i class="fa fa-wifi">:Luxury</i>
        <i class="fab fa-facebook">:Luxury Vip</i>
        <i class="fas fa-envelope">:Bahuynguyen1997@gmail.com</i>

    </div>

<div class="text-center" style="background-image: url('~/image/hoavan.jpg')">


</div>

<div class="main-container">
    <img src="~/image/hotel.jpg" style="width:100%" />
</div>



@section Css {
    <link href="~/css/site.css" rel="stylesheet" />
}

<div class="jumbotron text-center">
    <h1 style="color:red">Đặt phòng sớm để có những căn phòng đầy đủ tất cả các tiện nghi</h1>
    <p style="color:red">Số điện thoại liên lạc 0935222220(Mr Huy) để có những ưu đãi combo giá chỉ từ 2 triệu </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h3><img src="~/image/1.jpg" style="width:400px" /></h3>
            <p>VIEW ĐẸP GIÁ THUÊ LẠI RẺ</p>
        </div>

        <div class="col-sm-5">
            <h3><img src="~/image/2.jpg" style="width:400px" height="220px" /></h3>
            <p>VIEW ĐẸP GIÁ THUÊ LẠI RẺ</p>
        </div>

        <div>
            <div class="jumbotron text-center">
                <p>Phong 5 sao</p>
            </div>
        </div>

        <div class="col-sm-5">
            <h3><img src="~/image/3.jpg" style="width:400px" /></h3>
            <p>VIEW ĐẸP GIÁ THUÊ LẠI RẺ</p>
        </div>

        <div class="col-sm-5">
            <h3><img src="~/image/4.jpg" style="width:400px" height="250px" /></h3>
            <p>VIEW ĐẸP GIÁ THUÊ LẠI RẺ</p>
        </div>
    </div>
 </div

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5XzWeT5l5bQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>1 số hình ảnh từ khách sạn</p>
</div>


<div class="jumbotron text-center;"  style="color:aliceblue;  text-align: center" >
    
        <p style="color:red">Những trải nghiệm đáng nhớ cùng kỳ nghỉ sang trọng tại khách sạn,Mang trong mình vẻ đẹp huyền bí và những nét văn hóa độc đáo </p>
        <p style="color:red"> Đặt phòng tại Luxury để tận hưởng sự sang trọng và thoải mái tối đa. Dù bạn ở đây với mục đích gì, chúng tôi sẽ mang đến cho bạn một kỳ nghỉ thật sự đáng nhớ.</p>
        <p style="color:gold">LUXURY VIP HÂN HẠNH ĐƯỢC PHỤC VỤ BẠN</p>
  
</div>